:host {
  --app-primary-color: #4285f4;
  --app-secondary-color: black;

  display: block;
}

app-drawer-layout:not([narrow]) [drawer-toggle] {
  display: none;
}

app-header {
  color: #fff;
  background-color: var(--app-primary-color);

  paper-icon-button {
    --paper-icon-button-ink-color: #fff;
  }
}

.drawer-list {
  margin: 0 20px;

  a {
    display: block;
    padding: 0 16px;
    text-decoration: none;
    color: var(--app-secondary-color);
    line-height: 40px;

    &.iron-selected {
      color: black;
      font-weight: bold;
    }
  }
}
