language: node_js
node_js:
- 9.8
branches:
  only:
  - master
before_install:
- curl -o- -L https://yarnpkg.com/install.sh | bash
- export PATH="$HOME/.yarn/bin:$PATH"
cache: yarn
script:
- yarn run build
deploy:
  provider: firebase
  token:
    secure: XbBqDSUZ6xsBP2jQ8xqlsBsIuFiTYQCdwHihAf74CePhWau46QssLcVBwDvMvSt50QLXeMPhrSYPXv2TWR63si7xq+kupdRYSMR35zIzWF+bHfXKc0UHPwEKVTT85KHrfyA5ITqmJtytx+jcfKSlbtOzGo9Xf/Huy+5QqerCsmpRUl8PqExt8tJKyXdbF4A03jhut1/oEHYC0tQ+3Ii9UiFV86St1zWWN/t3v+X6wgFJlP3chUpNvX2xc4eJwYTxQGGcMU83FW5ubxqMYqtKr7exv9njy5KTwhdrMlj3U6HahWxzanoBwvk5hv2a3O1AHNOShvK92KLszR+QNDyED3GqabqRgLj4BjdJ+Imk/pCnN/JcYGfjatZvnFoFvCX1+0hP5QPEgVNYzQBfk15LRg9t63DQUTffe0pp/wZVKTtDKXkHEOWCumJ3oTsoyX2syOv/QVsPHeVt7zoCOaQqdjD+nQnBIRuiIqvU69Pwi8bHzaPysZH0VS59OQHfF6izIhdFUKFTCAbkfF8zbL5k77YYhqnSRIQjx9ifZ+v8I71XxQ7ziwM5+pE6FBlT2XU1ldyXh4z/6dx3eXkBsSfXN20AE5syfVLDttD+qQkQ0jmQezWq5TNFWRrLVST/PBO/h8GlrJltxVh7J89bA1zWiTpKB9kiIbomtIkjmvYNagk=
  project: polymer-3-webpack-starter-kit
